<mat-drawer-container class="example-container" autosize fxFlex="100">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    
      <div >
        <span>Market Control</span>
      </div>

      <div fxLayoutAlign="center center">
          <mat-icon class="mr-8">brightness_5</mat-icon>
          <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
          </mat-slide-toggle>
          <mat-icon>bedtime</mat-icon>
      </div>
  </mat-toolbar>
    
  <div class="content mat-app-background">
    <!-- <app-custom-table [table]="table" [columns]="columns" [displayedColumns]="displayedColumns" [rows]="rows" ></app-custom-table> -->

    <app-dynamic-form [formFields]="[
      {
        value:'aaaa',
        type:'textbox',
        key:'test',
        label:'test',
        isRequired:true,
        minLength:5,
        options:[],
        maxLength:100,
        regexPattern:'',
        order:1,
        width:100,
        align:'center'
      }
    ]"></app-dynamic-form>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>